// .trip{
//   
//     width: 50%;
//     position: fixed;
//     z-index: 1;
//     top: 0;
//     overflow-x: hidden;
//     padding-top: 20px;
//   width: 50%;

// }
#submit:hover {
  background-color: yellow;
}
.left{
  left: 0;
  width: 100%;
  height: 100%;
  display:none;
  background-color: 	#EE82EE;
}

.whole {
  height:90%;
  display: flex;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #FFC0CB;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.main{
  
  float: right;

}


body{
  
  background-color: #D3D3D3;
}

@media screen and (max-width:900px)
{
  .whole{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

// @media(max-width:900px)
// {
//   .trip
//   {
//       display: flex;    
//       flex-direction: column;
     
//   }
// }
@media(max-width:900px)
{
  .left{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main
  {   
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
     
  }
}
header{
  color: white;
}
.form-label {

  color: white;
  font-size: 1.5rem;
}
.input{
  color: 	#D3D3D3;
  margin-left: 2rem;
  padding: 1.5rem;
  opacity: 100;
  box-sizing: border-box;
}
.input-styling
{
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 0.2rem;
  width: 200px;
  background-color: #35a87c;
  color: lightgray;
  font-size: 1rem;
}
@media screen and (max-width:900px)
{
input[type=date] {
  background-color: #3CBC8D;
  color: white;
  justify-content: center;
}
}
input[type=text] {
  background-color: #3CBC8D;
  color: white;
  font-size: .8rem;
}

webkit-input-placeholder {
color: green !important;
}
#notripi{
  color: #FFFFFF;
}
#submit
{
  background-color: #ff4a51;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  align-self: center;
  width: 225px;
  border: 1px solid white;
  border-radius: 0.3rem;
}
#submit:hover{
    background-color: yellow;
}
.error
{
  position: relative;
  color: red;
  box-sizing: border-box;
  top: -1rem;
  left: 1.5rem;
}
.trip
{
  margin:1rem;

}
@media screen and (max-width:900px)
{
  tr{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .input-styling
{
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 0.2rem;
  width: 200px;
  background-color: #040e27;
  color: lightgray;
  font-size: 0.8rem;
}
}
