#mainimage
{
   display: none;
    width: 100%;
    margin: auto auto;
    height: 50%;
    border: 2px solid blue;
}
#cityname
{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
#dateoftravel,#min-temp,#max-temp,#desc
{
    text-align: center;
}
